.section1
{
	background-color: #f6f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0%;
}
#photo
{
	background-image: url(../img/photo-users/user_fran.jpg);
    background-size: cover;
    background-position: center;
    padding: 9%;
    border-radius: 50%;
    margin-right: 3%;
}
#user_name
{
	font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 7%;
}
#perfil_edit
{
	background-color: #c4c4c4;
    font-weight: 500;
    border: none;
    padding: 5% 7%;
    margin-top: 3%;
    margin-left: 2%;
}
.form-control
{
	border: none;
}
h2
{
	color: #1d64e8;
    font-weight: 400;
    margin-bottom: 3%;
}
h2 label
{
	font-weight: 600;
}
.section2
{
	padding: 4% 7%;
}
.div1
{
	display: flex;
}
.div1 aside:nth-child(1)
{
	background: #f6f7f9;
    padding: 2% 2%;
    width: 21%;
    margin-bottom: 3%;
}
.img1
{
	width: 63%;
    margin: auto;
    display: block;
}
.p1
{
	font-weight: 700;
    line-height: 1.2rem;
    font-size: 1rem;
    margin-top: 9%;
}
.p2
{
	font-size: 0.8rem;
    margin-top: 2%;
    margin-bottom: 6%;
}
.p3
{
	color: #6a6a6b;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 3%;
}
.p4
{
	color: #808182;
    font-size: 0.7rem;
    font-weight: 500;
}
.div1 aside:nth-child(2)
{
	padding: 0% 2%;
    width: 48%;
}
.p5
{
	color: #1d64e8;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1%;
}
.td1, .td4
{
	font-size: 1.2rem;
    padding: 0% 0% 1% 0.5%;
    font-weight: 500;
}
.td2
{
	color: #f0923c;
    font-size: 1.2rem;
    font-weight: 600;
}
.td3
{
    font-size: 1.2rem;
	color: black;
	font-weight: 500;
}
.table1
{
	margin-bottom: 3%;
}
.td4
{
	width: 23%;
}
.p6
{
	width: 100%;
    background: #dcdcdc;
    line-height: 0.9rem;
    position: relative;
    margin: 3% 0%;
}
.label1
{
	position: absolute;
    width: 50%;
    height: 100%;
    background: #1d64e8;
    left: 0%;
}
.label2, .label3
{
	position: absolute;
    width: 1%;
    height: 100%;
    background: #1d64e8;
    left: 0%;
}
.td5
{
	width: 50%;
}
.td6
{
	color: #6a6a6b;
    padding-left: 1%;
}
.img2
{
	width: 100%;
}
.p7
{
	font-size: 1.2rem;
    padding: 0% 0% 1% 1%;
    font-weight: 500;
    display: flex;
    align-items: center;
}
.icon1
{
	font-size: 1.5rem;
	margin-right: 2%;
}
.icon2
{
    font-size: 1.5rem;
	color: #f0923c;
}
.p8
{
	font-size: 0.7rem;
    color: #808182;
    font-weight: 500;
    margin-bottom: 2%;
}
#filter-date
{
	border: none;
    border-bottom: solid 1px #f0923c;
    margin: 0% 2%;
    cursor: pointer;
    width: 39%;
}
#filter-date::placeholder, #filter-clock::placeholder
{
	color: #f0923c;
}
.p9
{
	display: flex;
    align-items: center;
	cursor: pointer;
}
@media only screen and (min-width: 1600px)
{
	#photo
	{
		padding: 6%;
	}
	.section2
	{
		padding: 4% 18%;
	}
}