h1
{
	color: #1d64e8;
    font-size: 2.4rem;
    font-weight: 400;
}
.section1
{
	padding: 2% 5% 3% 5%;
    display: flex;
    position: relative;
    overflow: hidden;
    background: #e4e2e5;
    background-image: url(../img/banner.png);
    background-size: cover;
    background-position: left;
}
.aside1
{
	width: 50%;
}
.p1
{
	font-size: 1rem;
    font-weight: 500;
}
.div1
{
	padding: 3% 5%;
    background: white;
    margin-top: 8%;
	box-shadow: 0px 2px 10px 0px #cac3c3;
}
.text1
{
	background: #f0f0f0;
    border-radius: 5px;
    border: none;
    padding: 1.8% 5%;
    font-size: 1rem;
    float: left;
    margin-top: 4%;
    width: 46%;
}
.button1
{
	background: #f0923c;
    color: white;
    padding: 2% 6%;
    font-size: 1rem;
	border: solid #f0923c 2px;
    border-radius: 5px;
    margin-top: 4%;
    font-weight: 500;
}
.section2
{
	padding: 5% 27%;
	text-align: center;
}
.div2
{
	display: flex;
    align-items: center;
    justify-content: center;
}
.section2 h2
{
    margin-bottom: 6%;
}
h2
{
	color: #1d64e8;
    font-size: 2.5rem;
    font-weight: 600;
	text-align: center;
}
.icon2
{
	display: block;
    font-size: 2rem;
    margin-bottom: 50%;
	cursor: pointer;
}
.p4
{
	background: #f0923c;
    color: #ffffff5e;
    padding: 3% 0%;
    border-radius: 50px;
    margin-right: 3%;
    width: 8%;
}
.div6
{
	width: 92%;
}
.p5, .p5-2, .p5-3, .p5-4
{
	margin: 0% 3%;
    border-bottom: solid 2px;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
    display: inline-block;
	font-size: 0.9rem;
}
.p5
{
    width: 13%;
}
.p6
{
	font-size: 1.3rem;
	margin-bottom: 5%;
}
.button2
{
	background: #f0923c;
    color: white;
	border: solid #f0923c 2px;
    padding: 2.5% 7%;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
	margin-top: 7%;
}
.section3
{
	background: #f6f7f9;
    padding: 4% 7%;
}
.text2
{
	border: none;
    background: none;
    width: 80%;
    color: #1d64e8;
    font-size: 1.3rem;
    padding-left: 5%;
}
.text2:focus
{
    outline: none;
}
.p7
{
	width: 30%;
    border-bottom: solid 2px #1d64e8;
    color: #1d64e8;
    margin-left: auto;
    margin-bottom: 4%;
}
.icon3
{
	font-size: 1.7rem;
    font-weight: bold;
}
.div3
{
	display: flex;
    flex-wrap: wrap;
    align-items: self-start;
}
.aside3
{
	width: 48.5%;
    background: white;
    box-shadow: 0px 2px 10px 0px #cac3c3;
    display: flex;
    position: relative;
    align-items: start;
}
.div3 .aside3:nth-child(1), .div3 .aside3:nth-child(2)
{
	margin-bottom: 4%;
}
.div3 .aside3:nth-child(1), .div3 .aside3:nth-child(3)
{
	margin-right: 3%;
}
.div4
{
	display: flex;
    justify-content: center;
    position: absolute;
    width: 65%;
    bottom: 5%;
}
.p8
{
	font-size: 0.8rem;
}
.img1
{
	width: 35%;
}
.p9
{
	font-size: 0.7rem;
    color: #787878;
    font-weight: 500;
	margin-right: 7%;
}
.div5
{
	padding: 2% 2%;
}
.index_button3
{
	background: #f0923c;
    color: white;
    font-size: 0.9rem;
	border: solid #f0923c 2px;
    border-radius: 5px;
}
.section4
{
	display: flex;
    padding: 5% 8%;
}
.section4 aside
{
	width: 31%;
}
.section4 aside:nth-child(2)
{
	margin: 0% 3.6%;
}
.section4 aside div
{
	display: flex;
    align-items: center;
}
.icon1
{
	color: #f0923c;
    font-size: 3.5rem;
	margin-right: 10px;
}
.icon-expert-1
{
	margin-right: 0;
}
.p2
{
	font-weight: 600;
}
.p3
{
	font-weight: 500;
    line-height: 1.3rem;
}
.button1:hover, .index_button3:hover, .button2:hover
{
	background: transparent;
    color: #f0923c;
}
@media only screen and (min-width: 1600px)
{
	.section1
	{
		padding: 8% 24% 5% 16%;
	}
	.section2
	{
		padding: 5% 33%;
	}
	.section3 
	{
		padding: 4% 18%;
	}
	.section4
	{
		display: flex;
		padding: 5% 19%;
	}
}
@media only screen and (max-width: 1024px)
{
	.section1
	{
		display: block;
		background-position: 40%;
	}
	.aside1
	{
		width: 100%;
	}
	h1
	{
		font-size: 1.9rem;
	}
	.p1
	{
		width: 88%;
	}
	.div1
	{
		margin-top: 4%;
	}
	.section2
	{
		padding: 5% 5%;
	}
	.div2
	{
		display: block;
	}
	.p4
	{
		width: 100%;
		display: flex;
		justify-content: center;
		margin-bottom: 5%;
	}
	.icon2
	{
		margin: 0% 2%;
	}
	.section2 h2
	{
		line-height: 3rem;
	}
	.div6
	{
		width: 100%;
	}
	.p5, .p5-2, .p5-3, .p5-4
	{
		display: block;
		width: 58%!important;
		margin: 2% auto;
	}
	h2
	{
		line-height: 3rem;
		font-size: 2rem;
		margin-bottom: 3%;
	}
	.p7
	{
		width: 100%;
	}
	.div3
	{
		display: block;
	}
	.aside3
	{
		width: 100%;
		display: block;
		margin-bottom: 4%;
	}
	.img1
	{
		margin: auto;
		display: block;
		width: 50%;
		padding-top: 3%;
	}
	.div4
	{
		position: relative;
		width: 100%;
		margin: 4% 0%;
	}
	.section4
	{
		display: block;
	}
	.section4 aside
	{
		width: 100%;
		margin: 0% 0% 5% 0%!important;
	}
}