.p1
{
	background: #f0923c;
    color: white;
    font-size: 1.2rem;
    padding: 0.5% 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.icon1
{
	font-size: 2.5rem;
    margin-right: 2%;
}
.section1
{
	padding: 3% 8%;
    display: flex;
    align-items: flex-start;
}
.section1 aside:nth-child(1)
{
	width: 42%;
    padding-right: 8%;
}
.section1 aside:nth-child(2)
{
	width: 50%;
}
.p2
{
	font-size: 2.5rem;
}
.p2 .total
{
	font-weight: 600;
    color: #f0923c;
}
.p2 span
{
	font-size: 1.3rem;
    color: #f0923c;
}
.div1
{
	display: flex;
}
.p3
{
	font-size: 0.9rem;
    width: 39%;
    margin: 3% 0% 7% 0%;
}
.p3 span
{
	background-color: #696969;
    color: white;
    padding: 2% 0%;
    width: 17%;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin-right: 4%;
}
.p4
{
	border-bottom: solid 2px black;
    width: 26%;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-size: 1.3rem;
    margin-right: 6%;
    cursor: pointer;
}
.p4 span
{
	margin-right: 8%;
}
.p5, .p5-1
{
	border: solid 2px #f0923c;
    margin-top: 3%;
    padding: 2% 1.5%;
    border-radius: 5px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
	position: relative;
}
.p5 input, .p5-1 input
{
	border: none;
    font-size: 1rem;
    width: 85%;
}

.p55, .p5-1
{
	border: solid 2px #f0923c;
    margin-top: 8%;
    padding: 2% 1.5%;
    border-radius: 5px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
	position: relative;
}
.p55 input, .p5-1 input
{
	border: none;
    font-size: 1rem;
    width: 85%;
}


.icon2
{
	position: absolute;
    right: 1.5%;
}
.amex
{
	font-size: 6rem;
}
.visa
{
	font-size: 3rem;
}
.text1
{
	width: 15%;
    border: none;
    padding: 0;
    font-size: 1rem;
}
.p6
{
	padding: 2% 1.5%;
    border: solid 2px #f0923c;
    border-radius: 5px;
    margin-top: 3%;
    width: 48%;
    display: inline-block;
    margin-right: 2%;
}
.text2
{
	width: 75%;
    border: none;
    padding: 0;
    font-size: 1rem;
}
.p7
{
	font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-top: 3%;
}
.p7 input
{
	width: 23px;
    height: 23px;
    margin-right: 2%;
}
.button1
{
	background: #f7c89d;
    color: white;
    width: 100%;
    border: solid 2px #f7c89d;
    padding: 3% 0%;
    border-radius: 5px;
    margin-top: 4%;
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.incorrect
{
	color: #e45050;
    margin-left: 3%;
    font-size: 0.8rem;
}
.correct_card
{
	color: #2e9c46;
    float: right;
}
.p8
{
	padding: 2% 1.5%;
    border: solid 2px #f0923c;
    border-radius: 5px;
    margin-top: 3%;
    width: 41%;
    display: inline-block;
    position: relative;
}
.icon3
{
	position: absolute;
    right: 4%;
	cursor: pointer;
}
.p9
{
	color: #696969;
    font-size: 1.2rem;
	margin-bottom: 3%;
}
.div2
{
    background: #f6f7f9;
    padding: 2%;
	box-shadow: 0px 2px 10px 0px #cac3c3;
}
.div3
{
	padding: 2%;
    background: #f6f7f9;
    margin-top: 2%;
}
.div4
{
	display: flex;
    align-items: center;
}
.img2
{
	width: 14%;
}
.p10
{
	color: #a7a7b2;
    margin-left: 3%;
    font-size: 0.9rem;
}
.p11
{
	color: #a7a7b2;
    margin-top: 3%;
    font-size: 0.9rem;
}
.td1
{
    font-size: 1.5rem;
    line-height: 1.3rem;
    width: 54%;
    padding-bottom: 5%;
}
.td2
{
    font-size: 1.7rem;
    font-weight: 600;
    width: 34%;
    line-height: 1.3rem;
}
.td3
{
    font-size: 1.5rem;
    line-height: 1rem;
}
.icon-trash
{
    cursor: pointer;
}
.p12
{
	text-align: center;
    color: #f0923c;
    border-top: solid 1px black;
    padding-top: 3%;
    font-size: 1.8rem;
    font-weight: 600;
}
.p12 label
{
	font-size: 1.2rem;
}
.advice_buy
{
	position: fixed;
    background: #000000b3;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.aside2
{
	background: white;
    width: 70%;
}
.p13
{
	text-align: center;
    background: #181b24;
	position: relative;
}
#advice_buy_close
{
	color: white;
    position: absolute;
    top: 14%;
    right: 2%;
    cursor: pointer;
}
.img3
{
	width: 7%;
}
.div5
{
	padding: 3% 8%;
}
.div6
{
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.p14
{
	font-size: 2rem;
    text-align: center;
}
.p15
{
	font-size: 1.2rem;
    margin-top: 2%;
}
.img4
{
	width: 13%;
    margin: 1% 0%;
}
.p16
{
	width: 72%;
    margin-left: 3%;
}
.div7
{
	display: flex;
    align-items: center;
    line-height: 1rem;
    margin-top: 2%;
}
.div7 a
{
	color: #f0923c;
    font-weight: 600;
}
.div7 span
{
	font-size: 2rem;
    margin-right: 2%;
}
#course1, #course2
{
	font-weight: 600;
}
#price1, #price2, #hour
{
	text-transform: lowercase;
}
.p17
{
	text-align: right;
    border-top: solid 1px black;
    width: 74%;
    margin: auto;
    font-size: 1.7rem;
    padding-top: 1%;
    margin-top: 1%;
}
#modal_total
{
	color: #f19b4c;
    font-weight: 600;
}
@media only screen and (min-width: 1600px)
{
	.section1
	{
		padding: 3% 18%;
	}
	.p8
	{
		width: 41.5%;
	}
	.aside2
	{
		width: 45%;
	}
}
@media only screen and (max-width: 1024px)
{
	.section1
	{
		display: block;
	}
	.section1 aside:nth-child(1), .section1 aside:nth-child(2)
	{
		width: 100%;
	}
	.p4
	{
		font-size: 1rem;
	}
	.p8
	{
		width: 40%;
	}
	.p3
	{
		font-size: 0.8rem;
		width: 50%;
	}
	.td1
	{
		font-size: 1rem;
		line-height: 1.3rem;
	}
	.td2
	{
		font-size: 1rem;
	}
	.img2
	{
		width: 30%;
	}
	.aside2
	{
		width: 98%;
	}
	.img3
	{
		width: 13%;
	}
	.p14
	{
		font-size: 1.6rem;
	}
	.p16
	{
		margin: 1% 0%;
		margin-left: 3%;
	}
	.p17
	{
		font-size: 1.3rem;
	}
	.div7
	{
		font-size: 0.8rem;
	}
	.div7 span
	{
		font-size: 1.5rem;
	}
}