.section1
{
	padding: 11.5% 8%;
    background: url(../img/banner2.png);
    background-position: 63% 50%;
    background-size: contain;
    background-repeat: no-repeat;
	background-color: #f7f7f7;
}
h1
{
	color: #1d64e8;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 600;
}
.p1
{
	font-weight: 500;
    font-size: 1.3rem;
    margin-top: 0.5%;
}
.button1
{
	border: solid 2px #f0923c;
    color: #f0923c;
    background: white;
    border-radius: 5px;
    padding: 1% 0%;
    font-weight: 500;
    font-size: 1rem;
    width: 13%;
    margin-right: 3%;
	margin-top: 3%;
}
.who_button2
{
	border: solid 2px #f0923c;
    color: white;
    background: #f0923c;
    border-radius: 5px;
    padding: 1% 1%;
    font-weight: 500;
    font-size: 1rem;
    width: 13%;
	margin-top: 3%;
}
.section2
{
	padding: 7% 7%;
    display: flex;
}
.aside1
{
	width: 60%;
    margin-right: 10%;
}
.aside2
{
	width: 30%;
    margin-top: 2%;
}
h2
{
	color: #1d64e8;
    font-size: 2.3rem;
    font-weight: 600;
}
.p2
{
	font-size: 1.2rem;
}
.div1
{
	display: flex;
    margin-bottom: 10%;
}
.icon1
{
	font-size: 2.3rem;
    color: #f0923c;
    margin-right: 5%;
}
.div1 div
{
	font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;
}
.section3
{
	background: #2f2f2f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2.5rem;
    padding: 4% 0%;
}
.label1
{
	color: #f0923c;
    font-weight: 500;
}
.label2
{
	color: #f0923c;
    font-weight: 500;
	font-size: 2.5rem;
}
.p3
{
	text-align: center;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin-left: 8%;
}
.p4
{
	line-height: 2.8rem;
}
.section4
{
	padding: 7% 7% 14% 7%;
    position: relative;
}
.aside3
{
	background-image: url(../img/caso-de-exito.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 17% center;
    padding: 13% 0%;
	margin-top: 4%;
}
.div2
{
	background: white;
    position: absolute;
    width: 40%;
    right: 20.5%;
    bottom: 13%;
    box-shadow: 2px 4px 7px 0px #cac3c39e;
    padding: 2% 2% 4% 2%;
}
.left
{
	position: absolute;
    right: 13%;
    bottom: 4%;
    font-size: 2rem;
    color: #f0923c;
    transform: rotateY(180deg);
	cursor: pointer;
}
.right
{
	position: absolute;
    right: 4%;
    bottom: 4%;
    font-size: 2rem;
    color: #f0923c;
	cursor: pointer;
}
.icon2
{
	color: #f0923c;
    font-size: 2.5rem;
}
.p5
{
	font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.p6
{
	font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 1%;
}
@media only screen and (min-width: 1600px)
{
	.section1
	{
		padding: 11.5% 20%;
		background-position: 33% 50%;
	}
	.section2
	{
		padding: 7% 18%;
	}
	.section4
	{
		padding: 7% 18% 14% 18%;
	}
}
@media only screen and (max-width: 1024px)
{
	.button1
	{
		width: 50%;
	}
	.who_button2
	{
		width: 34%;
	}
	.section1
	{
		background-position: bottom;
	}
	.section2
	{
		display: block;
	}
	.aside1
	{
		width: 100%;
		margin-bottom: 7%;
	}
	h2
	{
		line-height: 2.5rem;
	}
	.aside2
	{
		width: 100%;
	}
	.section3
	{
		display: block;
		text-align: center;
	}
	.p4
	{
		margin-bottom: 5%;
		font-size: 2rem;
	}
	.div2
	{
		right: 2%;
		width: 93%;
		bottom: 3%;
	}
	.aside3
	{
		padding: 43% 0%;
	}
	.section4
	{
		padding: 7% 7% 89% 7%;
	}
	.p3
	{
		margin-left: 0%;
		margin-bottom: 5%;
	}
}