body, p, h1, h2, form, ul, input
{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
a
{
	color: unset;
    text-decoration: none;
}
table
{
	width: 100%;
}
td
{
	vertical-align: top;
}
button
{
    margin: 0;
	font-family: Roboto;
	cursor: pointer;
	transition: 0.5s;
}
button:focus, input:focus
{
    outline: none;
}
header
{
	position: -webkit-sticky;
    position: sticky;
    display: flex;
    box-shadow: 0px 2px 10px 0px #cac3c3;
    padding: 0.5% 8.5%;
    align-items: center;
    top: 0;
    background: white;
	z-index: 100;
	overflow-x: hidden;
}
header img
{
	width: 97%;
}
header ul
{
	list-style: none;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    padding: 0;
    right: 8.5%;
    font-size: 1.4rem;
    width: 68%;
}
header ul li
{
	width: max-content;
    margin-left: 5%;
}
header ul li:nth-child(2)
{
	width: 21%;
}
header ul li button
{
	background-color: #f0923c;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
	border: solid #f0923c 2px;
    border-radius: 5px;
    padding: 6% 10%;
    cursor: pointer;
}
footer
{
	background: #2f2f2f;
    color: white;
    display: flex;
    padding: 2% 2% 5% 3%;
}
#login
{
	cursor: pointer;
}
.footer_text1
{
	background: none;
    border: solid white 2px;
    width: 96%;
    padding: 2% 1.5%;
    font-size: 1rem;
    border-radius: 5px;
    margin-bottom: 3%;
    color: white;
    font-weight: 300;
}
.footer_text1::placeholder
{
	color: white;
}
footer input[type=number]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
}
.footer_aside1
{
	display: flex;
    align-items: center;
    width: 60%;
}
.footer_aside1 div
{
	padding-right: 10%;
    width: 55%;
}
.footer_aside1 button
{
	background: transparent;
	color: #f0923c;
    margin-left: auto;
    display: block;
    padding: 3% 0%;
    border: solid 2px #f0923c;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    width: 35%;
}
.footer_aside2
{
	font-size: 0.9rem;
    width: 10%;
}
.footer_p1, .footer_p2, .footer_p5
{
	color: #f0923c;
    font-weight: 500;
	font-size: 0.9rem;
}
.footer_aside2 p, .footer_aside2 a
{
	margin-bottom: 10%;
    display: block;
}
.footer_p2
{
	width: 14%;
}
.footer_p5
{
	width: 16%;
}
.footer_p3
{
	color: #f0923c;
    font-size: 1.4rem;
    font-weight: 500;
    padding-left: 17%;
    margin-bottom: 7%;
}
.footer_p4
{
	width: 32%;
    text-align: right;
    padding-right: 3%;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 300;
}
header ul li button:hover
{
	background: transparent;
    color: #f0923c;
}
.footer_aside1 button:hover
{
	background: #f0923c;
    color: white;
}
.modal_form, .modal_login
{
	position: fixed;
    z-index: 101;
    background: #000000a1;
    top: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
}
.modal_form div, .modal_login div
{
	background: white;
    padding: 5% 2%;
    width: 42%;
	position: relative;
}
.modal_text1
{
	border: solid 1px #f0923c;
    width: 63%;
    padding: 3% 5%;
    font-size: 1rem;
    border-radius: 5px;
    margin-top: 5%;
}
.modal_p1
{
	color: #1d64e8;
    font-size: 1.8rem;
    margin-bottom: 5%;
}
.modal_p2
{
	color: #1d64e8;
    font-size: 1.1rem;
    border-top: solid black 1px;
    padding-top: 3%;
}
#modal_send, #modal_login_send
{
	background: #f0923c;
    color: white;
    padding: 2% 6%;
    margin: 4% 0%;
    font-size: 1.5rem;
    border: solid #f0923c 2px;
    border-radius: 5px;
}
#modal_close, #modal_login_close
{
	position: absolute;
    top: 3%;
    right: 3%;
    font-weight: bold;
    font-size: 1.3rem;
	cursor: pointer;
}
#advice
{
	width: 100%;
    position: fixed;
    z-index: 102;
    top: 0%;
    height: 100%;
    background: #0000009c;
    display: none;
    justify-content: center;
    align-items: center;
}
.error, .correct
{
	background: white;
    font-size: 2rem;
    padding: 3% 3%;
    border-radius: 5px;
	text-align: center;
}
.error
{
    color: red;
}
.correct
{
	color: #1d64e8;
}
.ico-left
{
	transform: rotate(180deg);
    display: block;
}
.ico-up
{
	transform: rotate(270deg);
    display: block;
}
.ico-down
{
	transform: rotate(90deg);
    display: block;
}
.button-calendar
{
	color: white;
	background-color: #f0923c;
	border: none;
	border-radius: 5px;
}
.movil
{
	display: none;
}
@media only screen and (min-width: 1600px)
{
	header ul
	{
		width: 43%;
	}
	footer
	{
		padding: 2% 17% 5% 18%;
	}
}
@media only screen and (max-width: 1024px)
{
	.desk
	{
		display: none;
	}
	.movil
	{
		display: block;
	}
	.icon-menu
	{
		margin-left: auto;
		font-size: 2rem;
	}
	.modal_form div, .modal_login div
	{
		padding: 13% 2% 6% 2%;
		width: 90%;
	}
	.modal_text1
	{
		width: 84%;
	}
	.close-menu
	{
		position: absolute;
		top: 0%;
		right: 6%;
		width: auto;
	}
	header ul
	{
		display: block;
		right: -100%;
		top: 0%;
		width: 100%;
		background: white;
		padding: 43% 0%;
		transition: 0.5s;
	}
	header ul li
	{
		margin: 7% 0%;
		width: 100%;
		text-align: center;
	}
	header ul li:nth-child(2)
	{
		width: 100%;
	}
	header ul li button
	{
		padding: 4% 10%;
	}
	header img
	{
		width: 60%;
		margin-top: 3%;
	}
	footer
	{
		display: block;
	}
	.footer_aside1
	{
		width: 100%;
		display: block;
	}
	.footer_p4
	{
		display: none;
	}
	.footer_aside1 div
	{
		padding-right: 0%;
		width: 100%;
	}
	.footer_p3
	{
		text-align: center;
		padding-left: 0%;
	}
	.footer_aside1 button
	{
		margin: auto;
		margin-top: 3%;
	}
	.footer_aside2
	{
		width: 100%;
		text-align: center;
		margin-top: 5%;
	}
	.footer_aside2 p, .footer_aside2 a
	{
		margin-bottom: 4%;
	}
	.footer_p2
	{
		width: 100%;
		text-align: center;
	}
	.footer_p5
	{
		width: 100%;
		text-align: center;
	}
	.footer_text1
	{
		width: 95%;
	}
}