.section1
{
	background-color: #f6f7f9;
    display: flex;
    align-items: center;
    padding: 5% 5%;
}
.img1
{
	width: 20%;
}
.p1
{
	width: 77%;
    margin-left: 3%;
    font-size: 1.2rem;
}
.section2
{
	padding: 5% 0% 5% 8%;
}
h2
{
	color: #1d64e8;
    font-weight: 600;
    margin-bottom: 1%;
}
.p2
{
	font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 500;
}
.aside1
{
	width: 55%;
}
.aside2
{
	width: 38%;
    margin-right: 7%;
}
.div1
{
	display: flex;
	align-items: flex-start;
	margin-bottom: 3%;
}
.p3
{
	width: 75%;
    border-bottom: solid 2px #1d64e8;
    color: #1d64e8;
    margin-left: auto;
}
.icon1
{
	font-size: 1.7rem;
    font-weight: bold;
}
.text1
{
	border: none;
    background: none;
    width: 80%;
    color: #1d64e8;
    font-size: 1.3rem;
    padding-left: 5%;
}
.p4
{
	color: #f0923c;
    font-size: 1.4rem;
    font-weight: 600;
    width: 24%;
}
.div2
{
	display: flex;
    align-items: flex-start;
}
.div4
{
	display: flex;
    margin-top: 3%;
}
.aside3, .aside5
{
	width: 49%;
}
.div3
{
	width: 71%;
    padding: 0% 2.5% 3% 2.5%;
    border-bottom: solid 1px #757575;
}
.p5
{
	color: #1d64e8;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.p6
{
	color: #757575;
    font-size: 0.9rem;
    margin-top: 2%;
}
.p7
{
	margin-top: 1%;
    color: #1d64e8;
    font-weight: 600;
}
.button1
{
	background: transparent;
    border: solid #f0923c 1px;
    color: #f0923c;
    font-size: 1.5rem;
    padding: 2%;
}
.button2, .button4
{
	background: transparent;
    border: solid #f0923c 1px;
    color: #f0923c;
    font-size: 1rem;
    padding: 1.9% 0%;
    font-family: 'Poppins', sans-serif;
}
.button2
{
    margin-left: 3%;
    width: 40%;
}
.button4
{
	width: 67%;
    margin-left: 5%;
}
.p8
{
	width: 74%;
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-top: 1%;
}
.aside3 .div4:nth-child(3) .div3
{
	border: none;
}
.aside4
{
	background: #f6f7f9;
    padding: 2% 4% 8% 4%;
    width: 41%;
    margin-left: 2%;
}
.p9
{
	color: #757575;
    font-size: 1.2rem;
    margin-bottom: 5%;
}
.table1
{
	border-bottom: solid 1px #757575;
}
.td1
{
	font-size: 1.5rem;
    line-height: 1.3rem;
    width: 54%;
    padding-bottom: 5%;
}
.td1 label
{
	font-size: 1rem;
}
.td2
{
	font-size: 1.7rem;
    font-weight: 600;
    width: 34%;
    line-height: 1.3rem;
}
.td2 label
{
	font-size: 1.2rem;
    font-weight: 400;
}
.td3
{
	font-size: 1.5rem;
    line-height: 1rem;
}
.icon-trash
{
	cursor: pointer;
}
.p10
{
	font-size: 1.8rem;
    text-align: center;
    font-weight: 600;
    margin-top: 5%;
}
.p10 label
{
	font-size: 1.3rem;
}
.button3
{
	display: block;
    margin: auto;
    margin-top: 3%;
    width: 80%;
    padding: 2% 0%;
    font-size: 2rem;
    color: white;
    border: solid 2px #f3c49a;
    background: #f3c49a;
    border-radius: 5px;
    font-weight: 500;
}
.div5
{
	background: #f6f7f9;
    padding: 2% 2%;
    width: 46%;
	box-shadow: 0px 2px 10px 0px #cac3c3;
}
.aside5
{
	display: flex;
}
.aside5 .div5:nth-child(1)
{
	margin-right: 4%;
}
.aside5 .div5:nth-child(2)
{
	margin-left: 4%;
}
.img2
{
	width: 70%;
    display: block;
    margin: auto;
}
.p11
{
	font-weight: 700;
    line-height: 1.2rem;
    font-size: 1rem;
    margin-top: 9%;
    display: flex;
    position: relative;
}
.p12
{
	font-size: 0.8rem;
    margin-top: 2%;
    margin-bottom: 6%;
}
.img3
{
	width: 100%;
}
.p13
{
	color: #6a6a6b;
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 3%;
}
.p14
{
	color: #808182;
    font-size: 0.7rem;
    font-weight: 500;
}
.p15
{
	font-weight: 600;
    margin-bottom: 3%;
}
.p15 label
{
	font-weight: 500;
    font-size: 0.7rem;
}
.p11 span
{
	position: absolute;
    right: 0%;
}
.p16
{
	display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5%;
}
.icon2
{
	font-size: 1.5rem;
    color: #f0923c;
}
#filter-date
{
    border: none;
    border-bottom: solid 1px #f0923c;
    margin: 0% 2%;
    cursor: pointer;
    width: 90%;
    background: #f6f7f9;
}
#filter-date::placeholder
{
	color: #f0923c;
}
.select1
{
	background: #f6f7f9;
    border: none;
    padding: 2% 2%;
    margin-right: 2%;
}
.select1:focus, .select1:active
{
	outline-color: #f0923c;
}
.aside5 .div5:nth-child(1) .p15
{
	margin-top: 20%;
}
.aside5 .button1
{
	width: 15%;
}
.aside3 .button1
{
	width: 10%;
}
.course1, .course2
{
	cursor: pointer;
}
.div6
{
	display: flex;
    width: 100%;
}
@media only screen and (min-width: 1600px)
{
	.section1
	{
		padding: 5% 18%;
	}
	.section2
	{
		padding: 5% 8% 5% 18%;
	}
	.aside5 .div5:nth-child(1) .p15
	{
		margin-top: 12%;
	}
}
@media only screen and (max-width: 1024px)
{
	.section1
	{
		display: block;
	}
	.img1
	{
		width: 66%;
		margin: auto;
		display: block;
	}
	.p1
	{
		width: 100%;
		margin-left: 0%;
	}
	.div1, .div2
	{
		display: block;
	}
	.aside1
	{
		width: 100%;
		text-align: center;
	}
	.aside2
	{
		width: 100%;
		margin-right: 0%;
	}
	.p3
	{
		width: 100%;
		margin: auto;
	}
	.aside5
	{
		width: 100%;
		margin-bottom: 5%;
		position: relative;
		padding: 79% 0%;
		overflow-x: scroll;
	}
	.div5
	{
		width: 92%;
	}
	.section2
	{
		padding: 5% 8% 5% 8%;
	}
	.div2
	{
		overflow: hidden;
	}
	.div6
	{
		width: 200%;
		position: absolute;
		top: 0%;
	}
	.aside5 .div5:nth-child(1) .p15
	{
		margin-top: 5%;
	}
	.aside3
	{
		width: 100%;
		margin-bottom: 7%;
	}
	.div4
	{
		display: block;
		margin-top: 3%;
	}
	.div3
	{
		width: 100%;
	}
	.p8
	{
		width: 100%;
	}
	.aside3 .button1 
	{
		width: 13%;
	}
	.button2
	{
		margin-left: 3%;
		width: 50%;
	}
	.aside4
	{
		width: 92%;
		margin-left: 0%;
	}
	.td1
	{
		font-size: 1rem;
		width: 52%;
		padding-bottom: 5%;
	}
	.td2, .td3
	{
		vertical-align: middle;
	}
	.td2
	{
		font-size: 1.2rem;
	}
	.td2 label
	{
		font-size: 1rem;
	}
}